**/__pycache__
**/*.pyc
**.png
**.js
**.html
*.gitignore
**.json
**.md
**.sh

.vscode/*
config/config.ini
echarts_examples/
infer_results/*
log/*
manual_annotations/*
results_*/
sample/*
output/*
test/*
tmp/*

!lib/echarts.min.js
!readme.md