**/__pycache__
**/*.pyc
**.png
**.js
**.html
*.gitignore
**.json
**.md
**.sh
**.tar

.vscode/*
config/config.ini
echarts_examples/
infer_results/*
log/*
manual_annotations/*
results_*/
sample/*
output/*
test/*
tmp/*
lib/*
*.py

!infer.py
!eval.py
!readme.md